<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/0342502787.js" crossorigin="anonymous"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4509911423095651"
     crossorigin="anonymous"></script>
<meta name="google-adsense-account" content="ca-pub-4509911423095651">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #f8f9fa;
            color: #36475a;
        }

        header {
            background-color: #343a40;
            color: #ffffff;
            padding: 20px 0;
        }

        h1 {
            font-size: 2.5em;
        }

        .additional-links a {
            color: #a32363;
            background-color: #c3ceda;
            margin-right: 20px;
            text-decoration: none;
            text-align: center;
            border: 2px solid #ff0000;


        }

        .profile-section,
        .post-section,
        .auth-section,
        .why-built-section,
        .info-section,
        .category-section,
        .posts-section {
            margin-top: 30px;
        }

        h2 {
            color: #007bff;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

        .category-list li {
            margin: 0 15px;
            font-size: 18px;
        }

        .posts-list {
            list-style: none;
            padding: 0;
        }

        .post-container {
            background-color: #ffffff;
            border: 3px solid #eeb50c;
            border-radius: 8px;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s ease-in-out;
        }

        .post-container:hover {
            transform: scale(1.02);
        }

        .comment-list {
            list-style-type: none;
            padding-left: 0;
            margin-top: 15px;
        }

        .comment-list li {
            margin-bottom: 10px;
        }

        .show-comments-button {
            background-color: #02f840;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s ease-in-out;
        }

        .show-comments-button:hover {
            background-color: #02d630;
        }

        footer {
            margin-top: 30px;
            background-color: #ffffff;
            color: #010101;
            width: 100%;
            padding: 20px;
            text-align: center;
        }
.logo-container {
    width: 150px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itslinked</title>
    <link rel="icon" href="https://mail.google.com/mail/u/0/?ui=2&ik=1740a04461&attid=0.1&permmsgid=msg-f:1787274407883098072&th=18cdac9ac604c7d8&view=fimg&realattid=18cdac948a58bc28df21&disp=thd&attbid=ANGjdJ85oGY_iZdfcZ9_5BLtn374ru_oBAueTZ2KhG6yRq2A1Dxo5kq1JVvIHQ8ZRpk3Q_nazoXr1MIqMm5nFHgH1rNN62WU30Q74e9G700gQI1mtwPIC441zP4LwF8&ats=2524608000000&sz=w1920-h878" type="image/x-icon">
</head>
<body>
<div class="logo-container">
    <img src="https://mail.google.com/mail/u/0/?ui=2&ik=1740a04461&attid=0.1&permmsgid=msg-f:1787274407883098072&th=18cdac9ac604c7d8&view=fimg&realattid=18cdac948a58bc28df21&disp=thd&attbid=ANGjdJ8rYLLf2WDB6u7ivpGNsMM8LRtp2JgIh310zIVbbAmXzSW1OYNF88wik_KSfRwaSTQFKJ9Zi5wKcU-LUYD9xn-CdkLi62Cnf22SCHUZ3BDdA5198O7SJhf6gac&ats=2524608000000&sz=w1920-h878" alt="Company Logo">
</div>
    <header>
        <div class="container">
            <h1>Welcome<%= user ? ', ' + user.username : '' %> <i class="fas fa-user"></i></h1>
            <div class="additional-links">
                <a href="/about-us"><i class="fas fa-info-circle"></i> About Us</a>
                <a href="/contact-us"><i class="fas fa-envelope"></i> Contact Us</a>
                <a href="/privacy-policy"><i class="fas fa-lock"></i> Privacy Policy</a>
            </div>
        </div>
    </header>

    <div class="container mt-5">

        <% if (user) { %>
            <section class="profile-section">
                <h2>Your Profile</h2>
                <p><i class="fas fa-user"></i> Username: <%= user.username %></p>
                <p><i class="fas fa-at"></i> Email: <%= user.email %></p>
            </section>

            <section class="post-section mt-4">
                <h2>Post a Link</h2>
                <form action="/create-post" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="title"><i class="fas fa-heading"></i> Title:</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="link"><i class="fas fa-link"></i> Link:</label>
                        <input type="text" class="form-control" id="link" name="link" required>
                    </div>
                    <div class="form-group">
                        <label for="category"><i class="fas fa-folder"></i> Category:</label>
                        <select class="form-control" id="category" name="category" required>
                            <option value="Entertainment">Entertainment</option>
                            <option value="Downloads">Downloads</option>
                            <option value="Education">Education</option>
                            <option value="Live">Live</option>
                            <option value="News">Newss</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="content"><i class="fas fa-file-alt"></i> Content:</label>
                        <textarea class="form-control" id="content" name="content" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="image"><i class="fas fa-image"></i> Image:</label>
                        <input type="file" class="form-control-file" id="image" name="image" accept="image/*">
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Submit</button>
                </form>
            </section>
        <% } else { %>
            <section class="auth-section mt-4">
                <div class="auth-buttons">
                    <a href="/login" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Login</a>
                    <a href="/sign" class="btn btn-success"><i class="fas fa-user-plus"></i> Sign Up</a>
                </div>
            </section>
        <% } %>

        <section class="why-built-section mt-4">
            <h2 class="why-built">Why I Built This Website ?</h2>
            <p class="why-built">To unite passions and foster meaningful conversations. Explore, share, and connect in a world of limitless possibilities.</p>
        </section>

        <section class="info-section mt-4">
            <h2 class="info">Disclaimer!!</h2>
            <p class="info">"Don't post or upload any unwanted or illegal content links. If you do, it will be removed by the database administrator."</p>
        </section>

        <section class="category-section mt-4">
            <h2>Filter by Category:</h2>
            <ul class="category-list">
                <li><a href="/"><i class="fas fa-globe"></i> All</a></li>
                <li><a href="/?category=Entertainment"><i class="fas fa-film"></i> Entertainment</a></li>
                <li><a href="/?category=Downloads"><i class="fas fa-download"></i> Downloads</a></li>
                <li><a href="/?category=Education"><i class="fas fa-graduation-cap"></i> Education</a></li>
                <li><a href="/?category=Live "><i class="fas fa-play"></i> Live</a></li>
                <li><a href="/?category=News"><i class="fas fa-tv"></i> News</a></li>
                <li><a href="/?category=Others"><i class="fas fa-ellipsis-h"></i> Others</a></li>
            </ul>
        </section>

        <section class="posts-section mt-4">
            <h2>Posts</h2>
            <% if (error) { %>
                <p>Error: <%= error %></p>
            <% } %>
            <form action="/" method="get" class="form-inline">
                <div class="form-group">
                    <label for="search">Search by Title:</label>
                    <input type="text" class="form-control" id="search" name="search" oninput="searchPosts()">
                </div>
                <button type="submit" class="btn btn-primary ml-2">Search</button>
            </form>
            <ul class="posts-list">
                <% for (const category in posts) { %>
                    <h3><%= category %></h3>
                    <% posts[category].forEach(post => { %>
                        <li class="post-container">
                            <hr>
                            <div class="post-content">
                                <strong><%= post.userId.username %>:</strong> <%= post.title %><br>
                                <div class="link">
                                <a href="<%= post.link %>" target="_blank"><%= post.link %></a><br>
                                </div>
                                <strong>Category:</strong> <%= post.category %><br>
                                <strong>Content:</strong> <%= post.content %><br>
                                <div class="like-dislike">
                                    <a href="/like-post/<%= post._id %>"><i class="fas fa-thumbs-up"></i> Like</a>
                                    <a href="/dislike-post/<%= post._id %>"><i class="fas fa-thumbs-down"></i> Dislike</a>
                                </div>
                                
                                <strong>Likes:</strong> <%= post.likes.length %>
                                <strong>Dislikes:</strong> <%= post.dislikes.length %><br>
                                <button class="show-comments-button" data-post-id="<%= post._id %>">See Comments</button>
                                <small><%= timeAgo(post.timestamp) %></small>
                                <h3>Comments</h3>
                                <ul class="comment-list" data-post-id="<%= post._id %>">
                                    <% post.comments.forEach(comment => { %>
                                        <li>
                                            <strong><%= comment.userId.username %>:</strong> <%= comment.text %><br>
                                        </li>
                                    <% }); %>
                                </ul>
                                <form class="comment-form" action="/comment/<%= post._id %>" method="post">
                                    <label for="comment">Add a comment:</label>
                                    <input type="text" class="form-control" id="comment" name="text" required>
                                    <button type="submit" class="btn btn-primary mt-2">Comment</button>
                                </form>
                            </div>
                            <% if (post.image && post.image.data) { %>
                                <img src="data:<%= post.image.contentType %>;base64,<%= post.image.data.toString('base64') %>" alt="Post Image" class="post-image">
                            <% } %> 

                        </li>
                    <% }); %>
                <% } %>
            </ul>
            <% if (user) { %>
                <a href="/logout" class="btn btn-danger mt-3">Logout</a>
            <% } %>
        </section>

    </div>

    <footer class="mt-5">
        <div class="container">
            <!-- Your footer content goes here -->
            &copy; 2024 itslinked.in -by nikki 
        </div>
    </footer>


    <script>
        function timeAgo(timestamp) {
            const now = new Date();
            const postedTime = new Date(timestamp);
            const timeDiff = now - postedTime;
            const seconds = Math.floor(timeDiff / 1000);
            const minutes = Math.floor(seconds / 60);
            const hours = Math.floor(minutes / 60);
            const days = Math.floor(hours / 24);

            if (days > 0) {
                return days + ' day(s) ago';
            } else if (hours > 0) {
                return hours + ' hour(s) ago';
            } else if (minutes > 0) {
                return minutes + ' minute(s) ago';
            } else {
                return 'Just now';
            }
        }

        const showCommentsButtons = document.querySelectorAll('.show-comments-button');
        showCommentsButtons.forEach(button => {
            button.addEventListener('click', () => {
                const postId = button.getAttribute('data-post-id');
                const commentsList = document.querySelector(`.comment-list[data-post-id="${postId}"]`);
                const commentForm = document.querySelector(`.comment-form[data-post-id="${postId}"]`);

                if (commentsList.style.display === 'none' || commentsList.style.display === '') {
                    commentsList.style.display = 'block';
                    commentForm.style.display = 'block';
                    button.textContent = 'Hide Comments';
                } else {
                    commentsList.style.display = 'none';
                    commentForm.style.display = 'none';
                    button.textContent = 'See Comments';
                }
            });
        });

        // Add event listeners for like and dislike buttons
        const likeButtons = document.querySelectorAll('.like-button');
        const dislikeButtons = document.querySelectorAll('.dislike-button');

        likeButtons.forEach(button => {
            button.addEventListener('click', () => {
                const postId = button.getAttribute('data-post-id');
                // Implement the logic for handling a like
                console.log(`Like clicked for post ${postId}`);
            });
        });

        dislikeButtons.forEach(button => {
            button.addEventListener('click', () => {
                const postId = button.getAttribute('data-post-id');
                // Implement the logic for handling a dislike
                console.log(`Dislike clicked for post ${postId}`);
            });
        });
        function searchPosts() {
        const searchInput = document.getElementById('search').value.toLowerCase();
        const posts = document.querySelectorAll('.post-container');

        posts.forEach(post => {
            const title = post.querySelector('.post-content strong').textContent.toLowerCase();
            if (title.includes(searchInput)) {
                post.style.display = 'block';
            } else {
                post.style.display = 'none';
            }
        });
    }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
var infolinks_pid = 3412315;
var infolinks_wsid = 0;
</script>
<script type="text/javascript" src="http://resources.infolinks.com/js/infolinks_main.js"></script>

</body>
</html>
