<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9WPBC7HFC8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9WPBC7HFC8');
</script>
    <script src="https://kit.fontawesome.com/0342502787.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">


    
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #f8f9fa;
            color: #36475a;
        }

        header {
            background-color: #343a40;
            color: #ffffff;
            padding: 20px 0;
            top: auto;
        }

        h1 {
            font-size: 2.5em;
        }

       /* Add these styles to your existing styles.css or in a separate stylesheet */

body {
    /* ... existing styles ... */
    overflow-x: hidden; /* Hide horizontal scrollbar when the sidebar is open */
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    position: absolute;
    top: 28px;
    left: 9px;
}

/* Sidebar styling */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e9e9e9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #000000;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* Add this to your existing CSS */

/* Overlay styling */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


        .profile-section,
        .post-section,
        .auth-section,
        .why-built-section,
        .info-section,
        .category-section,
        .posts-section {
            margin-top: 30px;
        }

        h2 {
            color: #007bff;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 0px;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

        .category-list li {
            margin: 0 15px;
            font-size: 18px;
        }

        .posts-list {
            list-style: none;
            padding: 0;
        }

        .post-container {
            background-color: #ffffff;
    border: 1.9px solid #baa3a3a3;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
        }

        .post-container:hover {
            transform: scale(1.02);
        }

        .comment-list {
            list-style-type: none;
            padding-left: 0;
            margin-top: 15px;
        }

        .comment-list li {
            margin-bottom: 10px;
        }

        .show-comments-button {
            background-color: #02f840;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s ease-in-out;
        }

        .show-comments-button:hover {
            background-color: #02d630;
        }

        footer {
            margin-top: 30px;
            background-color: #ffffff;
            color: #010101;
            width: 100%;
            padding: 20px;
            text-align: center;
        }
        .company-logo {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    
}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="monetag" content="9b7a321c53c43560c5e5c81db7b29a5b">

    <title>itslinked</title>
    <link rel="icon" href="https://i.ibb.co/MDTzFcD/0532a20a-c141-4989-a5b7-4e538e409a2d-1.png" type="image/x-icon">

    <script type="text/javascript" data-cfasync="false">
        /*<![CDATA[/* */
        (function(){var v=window,a="f62172e1d85b682924af0c6167061605",f=[["siteId",205*650*206*273-7488644943],["minBid",0.002],["popundersPerIP","6:1"],["delayBetween",6],["default",false],["defaultPerDay",0],["topmostLayer",!0]],g=["d3d3LmRpc3BsYXl2ZXJ0aXNpbmcuY29tL3ZwcmVsb2FkanMubWluLmNzcw==","ZDNtem9rdHk5NTFjNXcuY2xvdWRmcm9udC5uZXQvYXNzZXRzL2ZqcXVlcnkucGFnZXBpbGluZy5taW4uanM=","d3d3Lnd1ZGFvdXRzanV4YmQuY29tL25wcmVsb2FkanMubWluLmNzcw==","d3d3LmpraXhxbW5kbHN6ci5jb20vYXNzZXRzL3NqcXVlcnkucGFnZXBpbGluZy5taW4uanM="],i=-1,x,r,u=function(){clearTimeout(r);i++;if(g[i]&&!(1732640526000<(new Date).getTime()&&1<i)){x=v.document.createElement("script");x.type="text/javascript";x.async=!0;var p=v.document.getElementsByTagName("script")[0];x.src="https://"+atob(g[i]);x.crossOrigin="anonymous";x.onerror=u;x.onload=function(){clearTimeout(r);v[a.slice(0,16)+a.slice(0,16)]||u()};r=setTimeout(u,5E3);p.parentNode.insertBefore(x,p)}};if(!v[a]){try{Object.freeze(v[a]=f)}catch(e){}u()}})();
        /*]]>/* */
        </script>
     <meta name="monetag" content="9b7a321c53c43560c5e5c81db7b29a5b">   
</head>
<body>

    <header>
        <div id="overlay" onclick="toggleSidebar()"></div>

        <div class ="container">
        <div class="menu-icon" onclick="toggleSidebar()">
            <i class="fas fa-bars"></i>
        </div>
        <div class ="container">
            <h3><img src="https://i.ibb.co/MDTzFcD/0532a20a-c141-4989-a5b7-4e538e409a2d-1.png" alt="Company Logo" class="company-logo"> Itslinked.in<%= user ? ', ' + user.username : '' %> </h3>
            <div class="sidebar" id="sidebar">
                <a href="/about-us"><i class="fas fa-info-circle"></i> About Us</a>
                <a href="/contact-us"><i class="fas fa-envelope"></i> Contact Us</a>
                <a href="/privacy-policy"><i class="fas fa-lock"></i> Privacy Policy</a>
            </div>
        </div>
    </header>

    <div class="container mt">

        <% if (user) { %>
            <section class="profile-section">
                <h4>Your Profile</h4>
                <p><i class="fas fa-user"></i> Username: <%= user.username %></p>
                <p><i class="fas fa-at"></i> Email: <%= user.email %></p>
            </section>

            <section class="post-section mt-4">
                <h5>Post a Link</h5>
                <form action="/create-post" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="title"><i class="fas fa-heading"></i> Title:</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="link"><i class="fas fa-link"></i> Link:</label>
                        <input type="text" class="form-control" id="link" name="link" required>
                    </div>
                    <div class="form-group">
                        <label for="category"><i class="fas fa-folder"></i> Category:</label>
                        <select class="form-control" id="category" name="category" required>
                            <option value="Entertainment">Entertainment</option>
                            <option value="Internships/Jobs">Internships/Jobs</option>
                            <option value="Education">Education</option>
                            <option value="Tech /Fashion">Tech /Fashion</option>
                            <option value="Books">Books</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="content"><i class="fas fa-file-alt"></i> Content:</label>
                        <textarea class="form-control" id="content" name="content" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="image"><i class="fas fa-image"></i> Image:</label>
                        <input type="file" class="form-control-file" id="image" name="image" accept="image/*">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Submit</button>
                </form>
                <section class="info-section mt-4">
                    <h5 class="info">Disclaimer!!</h5>
                    <p class="info">"Don't post or upload any unwanted or illegal content links. If you do, it will be removed by the database administrator."</p>
                </section>
            </section>
        <% } else { %>
            <section class="auth-section mt-4">
                <div class="auth-buttons">
                    <a href="/login" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Login</a>
                    <a href="/sign" class="btn btn-success"><i class="fas fa-user-plus"></i> Sign Up</a>
                </div>
            </section>
        <% } %>

        

       

        <section class="category-section mt-4">
            <h5>Filter by Category:</h5>
            <ul class="category-list">
                <li><a href="/"><i class="fas fa-globe"></i> All</a></li>
                <li><a href="/?category=Entertainment"><i class="fas fa-film"></i><i class="fas fa-music"></i> Entertainment</a></li>
                <li><a href="/?category=Internships/Jobs"><i class="fas fa-briefcase"></i> Internships/Jobs</a></li>

                <li><a href="/?category=Education"><i class="fas fa-graduation-cap"></i> Education</a></li>
                <li><a href="/?category=Tech /Fashion"><i class="fas fa-laptop"></i> Tech /Fashion</a></li>
                <li><a href="/?category=Books"><i class="fas fa-book"></i> Books</a></li>
                <li><a href="/?category=Others"><i class="fas fa-ellipsis-h"></i> Others</a></li>
            </ul>
        </section>
        

        <section class="posts-section mt-4">
            <h5>Posts</h5>
            <% if (error) { %>
                <p>Error: <%= error %></p>
            <% } %>
            <form action="/" method="get" class="form-inline">
                <div class="form-group">
                    <label for="search">Search by Title:</label>
                    <input type="text" class="form-control" id="search" name="search" oninput="searchPosts()">
                </div>
                <button type="submit" class="btn btn-primary ml-2">Search</button>
            </form>
            <ul class="posts-list">
                <% for (const category in posts) { %>
                    <h5><%= category %></h5>
                    <% posts[category].forEach(post => { %>
                        <li class="post-container">
                            <div class="post-image-container">
                                <% if (post.image && post.image.data) { %>
                                    <img src="data:<%= post.image.contentType %>;base64,<%= post.image.data.toString('base64') %>" alt="Post Image" class="post-image">
                                <% } %>
                            </div>
                            <hr>
                            <div class="post-content">
                                
                                <div class="post-header">
                                    <strong><%= post.userId.username %>:</strong>
                                    <h5><a href="/post/<%= post._id %>"><%= post.title %></a></h5>
                                </div>
                    
                                <div class="post-meta">
                                    <strong>Category:</strong> <%= post.category %><br>
                                    <strong><i class="fas fa-thumbs-up"></i></strong> <%= post.likes.length %>
                                    <strong><i class="fas fa-thumbs-down"></i></strong> <%= post.dislikes.length %><br>
                                    <small><%= timeAgo(post.timestamp) %></small>
                                  <button class="btn btn-secondary share-button" style="margin-right: 10px;" onclick="sharePost('<%= post._id %>', '<%= post.title %>', '<%= post.link %>')">
                                        <i class="fas fa-share"></i> Share
                                    </button>
                                </div>
                    
                               
                            </div>
                   
          <!-- Bidvertiser2090892 -->
                        </li>
                    <% }); %>
                    
                <% } %>
            </ul>
            <% if (user) { %>
                <a href="/logout" class="btn btn-danger mt-3">Logout</a>
            <% } %>
        </section>

    </div>

    <footer class="mt-5">
        <div class="container">
            <!-- Your footer content goes here -->
            &copy; 2024 itslinked.in -by nikki 
        </div>
    </footer>


    <script>
        function timeAgo(timestamp) {
            const now = new Date();
            const postedTime = new Date(timestamp);
            const timeDiff = now - postedTime;
            const seconds = Math.floor(timeDiff / 1000);
            const minutes = Math.floor(seconds / 60);
            const hours = Math.floor(minutes / 60);
            const days = Math.floor(hours / 24);

            if (days > 0) {
                return days + ' day(s) ago';
            } else if (hours > 0) {
                return hours + ' hour(s) ago';
            } else if (minutes > 0) {
                return minutes + ' minute(s) ago';
            } else {
                return 'Just now';
            }
        }

        const showCommentsButtons = document.querySelectorAll('.show-comments-button');
        showCommentsButtons.forEach(button => {
            button.addEventListener('click', () => {
                const postId = button.getAttribute('data-post-id');
                const commentsList = document.querySelector(`.comment-list[data-post-id="${postId}"]`);
                const commentForm = document.querySelector(`.comment-form[data-post-id="${postId}"]`);

                if (commentsList.style.display === 'none' || commentsList.style.display === '') {
                    commentsList.style.display = 'block';
                    commentForm.style.display = 'block';
                    button.textContent = 'Hide Comments';
                } else {
                    commentsList.style.display = 'none';
                    commentForm.style.display = 'none';
                    button.textContent = 'See Comments';
                }
            });
        });

        // Add event listeners for like and dislike buttons
        const likeButtons = document.querySelectorAll('.like-button');
        const dislikeButtons = document.querySelectorAll('.dislike-button');

        likeButtons.forEach(button => {
            button.addEventListener('click', () => {
                const postId = button.getAttribute('data-post-id');
                // Implement the logic for handling a like
                console.log(`Like clicked for post ${postId}`);
            });
        });

        dislikeButtons.forEach(button => {
            button.addEventListener('click', () => {
                const postId = button.getAttribute('data-post-id');
                // Implement the logic for handling a dislike
                console.log(`Dislike clicked for post ${postId}`);
            });
        });
        function searchPosts() {
        const searchInput = document.getElementById('search').value.toLowerCase();
        const posts = document.querySelectorAll('.post-container');

        posts.forEach(post => {
            const title = post.querySelector('.post-content strong').textContent.toLowerCase();
            if (title.includes(searchInput)) {
                post.style.display = 'block';
            } else {
                post.style.display = 'none';
            }
        });
    }
    <!-- Add this script at the bottom of your dashboard.ejs file -->

    function toggleSidebar() {
    var sidebar = document.getElementById("sidebar");
    var overlay = document.getElementById("overlay");

    if (sidebar.style.width === "250px") {
        // If sidebar is open, close it
        sidebar.style.width = "0";
        overlay.style.display = "none";
    } else {
        // If sidebar is closed, open it
        sidebar.style.width = "250px";
        overlay.style.display = "block";
    }
}



    </script>
 <script>
        function sharePost(postId, title, link) {
            // Check if the Web Share API is available
            if (navigator.share) {
                navigator.share({
                    title: title,
                    url: '/post/' + postId
                })
                .then(() => console.log('Shared successfully'))
                .catch((error) => console.error('Error sharing:', error));
            } else {
                // Fallback for browsers that do not support Web Share API
                // Redirect the user to the post-detail page with the postId parameter
                window.location.href = '/' + postId;
            }
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



</body>
</html>
